.card {
    position: relative;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    width: 250px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
}

.card > .preview {
    position: relative;
}

.card > .title {
    font-weight: 600;
    color: hotpink;
    transition: all 0.3s ease-in-out;
}

.card:hover > .title {
    transform: scale(1.15);
    font-weight: 700;
}
